<div class="contenedor_mesas">
  <ul>
    <li class="estado" *ngFor="let mesa of  mesas | async" >
      <p>{{mesa.numero | number}}</p>
      <p>{{mesa.estado | titlecase}}</p>
      <div class="buttonOrden" *ngIf="mesa.estado=='ocupado'">
        <button class="verOrder" (click)="consultarOrden(mesa.orden)">Ver Orden</button>
      </div>
      <div class="buttonOrden" *ngIf="mesa.estado=='libre'">
        <button class="ordenar" routerLink="/menu" routerLinkActive="active"  (click)="savetable(mesa.numero)">Ordenar</button>
      </div>
    </li>
  </ul>
</div>
