<div class="main_container">
  <div class="contenedor_principal">
    <nav>
      <a routerLink="mesas" routerLinkActive="active" >Mesas</a>
    </nav>
    <div class="opcion_menu">
      <nav>
        <a (click)="showmenu('b')">Breakfast</a>
        <a (click)="showmenu('l')">Lunch</a>
      </nav>
      <!--<router-outlet></router-outlet>-->
    </div>
    <div class="contenedor_menu">
      <app-breakfast *ngIf="showBreakfast"  (onEventEmitter)=itemAgregar($event)></app-breakfast>
      <app-lunch *ngIf="!showBreakfast"  (onEventEmitter)=itemAgregar2($event)></app-lunch>
      <!--<router-outlet></router-outlet>-->
    </div>
  </div>
  <div class="orden">
    <app-orden></app-orden>
  </div>
</div> -->

  <!--<nav>
    <a routerLink="#/breakfast" routerLinkActive="active" >Breakfast</a>
    <a routerLink="#/lunch" routerLinkActive="active">Lunch</a>
  </nav>
  <router-outlet></router-outlet>-->

