<div class="main_container">
  <div class="contenedor_principal">
    <div class="opcion_menu">
      <nav>
        <a routerLink="#/breakfast" routerLinkActive="active" >Breakfast</a>
        <a routerLink="#/lunch" routerLinkActive="active">Lunch</a>
      </nav>
      <!--<router-outlet></router-outlet>-->
    </div>
    <div class="contenedor_menu">
      <router-outlet></router-outlet>
    </div>
  </div>    
  <div class="orden">
    <app-orden></app-orden>
  </div>
</div> -->

  <!--<nav>
    <a routerLink="#/breakfast" routerLinkActive="active" >Breakfast</a>
    <a routerLink="#/lunch" routerLinkActive="active">Lunch</a>
  </nav>
  <router-outlet></router-outlet>-->

