nav {
  display: flex;
  align-content: center;
  height: 40px;
}

nav a {
  /*height: 40px;*/
  margin: auto;
  margin-top: 10px;
  color: var(--primary-oscuro);
  width: 150px;
  border-right: 2px solid var(--primary-oscuro);
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  display: flex;
  align-content: center;
  margin-left: 10px;
}

nav a:hover {
  font-size: 20px;
  text-decoration:underline;
}
